:root {
    --primary-white: #ffffff;
    --secondary-white: rgba(255, 255, 255, 0.70);
    --primary-red: #D02C2C;
    --secondary-red: #E53E3E;
    --primary-green: #48BB78;
    --primary-orange: #ED8936;
    --secondary-orange: #ed8836d5;
    --primary-blue: #4299E1;
    --primary-black: #1A202C;
    --secondary-black: #2D3748;
    --font: 'Open Sans', sans-serif;
    --primary-background: #F7FAFC;
}

html,
body {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-background);
    font-size: 14px;
}

img {
    height: 100%;
    width: 100%;
}

.bg-white {
    background-color: var(--primary-white);
}

.bg-blue {
    background-color: var(--primary-blue);
}

.bg-grey {
    background-color: var(--primary-background);
}

.bg-orange {
    background-color: var(--primary-orange);
}

.bg-red {
    background-color: var(--primary-red);
}

.btn-orange {
    background-color: var(--primary-orange);
    color: var(--primary-white);
}

.btn-orange:hover {
    background-color: #e46a06;
    color: var(--primary-white);
}


/* simulasi kredit */

.simulasi .custom-select,
.simulasi .form-control {
    box-shadow: inset 0 0 4px #e5e5e5;
    content: none;
}

.top-image {
    background-color: var(--primary-white);
    height: 450px;
    object-fit: contain;
}  

.body-image {
    background-color: var(--primary-white);
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.body-image:hover, .col-3 .active {
    cursor: pointer;
    box-shadow: 0 0 10px 2px var(--primary-red);
}


/* deskripsi */

.deskripsi {
    background-color: var(--primary-white);
}


/* font */

.text-blue {
    color: var(--primary-blue);
}

.text-orange {
    color: var(--primary-orange)
}

.text-secondary-black {
    color: var(--secondary-black)
}

.font-reguler {
    font-weight: 400;
}

.font-medium {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}


/** Custom Button **/

.btn-whatsapp {
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: 0 7px;
}

.btn-whatsapp .icon-whatsapp {
    font-size: 20px;
    vertical-align: middle;
}

.btn-whatsapp .text-whatsapp {
    font-weight: normal;
    vertical-align: middle;
}

.btn-whatsapp:hover {
    color: var(--secondary-white);
}

.langganan {
    background-color: var(--primary-white);
}

.langganan .text-berlangganan {
    color: var(--primary-black);
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.langganan .form-berlangganan {
    padding: 20px 0;
    width: 100%;
}

.langganan .btn-berlangganan {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    font-family: var(--font);
    font-size: 14px;
    font-weight: normal;
}

.langganan .form-berlangganan .form-control {
    background-color: var(--primary-white);
    border: 3px solid var(--primary-blue);
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    color: var(--secondary-black);
    font-family: var(--font);
    font-size: 14px;
    height: 40px;
}

.langganan .form-berlangganan .form-control::placeholder {
    color: rgba(45, 55, 72, 0.50);
    font-size: 12px;
    font-family: var(--font);
}

.form-search .form-control {
    border-radius: 3px 0 0 3px;
    color: var(--secondary-black);
    font-family: var(--font);
}


/** Top Navbar **/

.top-header {
    background-color: var(--primary-red);
}

.top-header .telp-email a{
    color: var(--secondary-white);
    font-size: 12px;
    text-decoration: none;
}


/** Navbar **/

.navbar {
    background-color: var(--secondary-red);
    font-family: var(--font);
    font-weight: 600;
}

.navbar .form-control{
    box-shadow: inset 0 0 4px #e5e5e5;
    border: none;
}

.navbar .form-control:focus {
    border: 1px solid #ced4da;
    
}

.navbar i{
    color:var(--secondary-white);
}

.form-control::placeholder {
    color: rgba(45, 55, 72, 0.50);
    font-size: 12px;
    font-family: var(--font);
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar button:focus {
    outline: none;
}


/** Jumbo Slideshow **/

.site-slider {
    position: relative;
}

.position-top {
    top: 45%;
    position: absolute;
}

.site-slider .btn-slider .prev,
.site-slider .btn-slider .next {
    background-color: rgba(27, 29, 28, 0.50);
    color: rgba(255, 255, 255, 100);
    padding: 1rem 1.5rem;
    -moz-padding: 1rem 1.5rem;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    border-radius: 50px;
}

.site-slider:hover .btn-slider .prev,
.site-slider:hover .btn-slider .next {
    background-color: rgba(27, 29, 28, 0.50);
    color: rgba(255, 255, 255, 100);
    padding: 1rem 1.5rem;
    -moz-padding: 1rem 1.5rem;
    opacity: 1;
}

.site-slider .btn-slider .prev:hover,
.site-slider .btn-slider .next:hover {
    background-color: rgba(27, 29, 28, 0.70);
    color: rgba(255, 255, 255, 0.70);
    padding: 1rem 1.5rem;
    -moz-padding: 1rem 1.5rem;
    opacity: 1;
}

.right-0 {
    right: 0;
}

.slick-dots {
    display: flex;
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.slick-dots li {
    margin: 0 0.2rem;
}

.slick-dots button {
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0;
    border: 1px solid var(--primary-white);
    background-color: rgba(195, 192, 192, 0.20);
    border-radius: 100%;
    text-indent: -99999px;
    outline: none;
}

.slick-dots li.slick-active button {
    transform: scale(1);
    border: 1px solid #fff;
    background-color: rgba(253, 94, 85, 0.50);
    border-radius: 100%;
    outline: none;
}

.informations {
    background-color: var(--secondary-red);
}

.informations .card {
    background-color: var(--secondary-red);
    border: none;
    margin: 0;
    padding: 15px 0;
}

.informations .icon-phone {
    background-color: var(--primary-white);
    font-size: 50px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    vertical-align: bottom;
}

.informations .card-body {
    color: var(--primary-white);
    margin: 0;
    padding: 0;
    text-align: left;
}

.informations .card-body .card-title {
    font-size: 18px;
    margin: 0;
}

.informations .card-body .card-text {
    font-size: 12px;
    margin: 0;
}

.categorys {
    margin-top: 25px;
    padding: 0;
}

.categorys .btn-categorys {
    border: 2px solid var(--primary-blue);
    color: var(--secondary-black);
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.categorys .btn-categorys:hover {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    transition: 0.5s;
}


/** Card **/

.box {
    background-color: var(--white);
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.box a {
    text-decoration: none;
}

.box:hover {
    box-shadow: 0px 0px 0px 2px var(--primary-orange);
    transition: 0.3s;
}

.box .card {
    border: none;
    object-fit: contain;
}

.box .card img {
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 0;
}

.box .card .card-title {
    font-family: var(--font);
    font-size: 14px;
    color: var(--primary-black);
    margin: 0;
    padding: 0;
}

.box .card .title-dp {
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    color: rgba(45, 55, 72, 0.700);
}

.box .card .harga-diskon {
    font-family: var(--font);
    font-size: 16px;
    color: var(--primary-orange);
}

.box .card .harga-asli {
    font-family: var(--font);
    font-size: 12px;
    color: var(--primary-blue);
}

.box .card .btn-box {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    font-family: var(--font);
    font-size: 13px;
    padding: 7px;
}

.box .card .btn-box:hover {
    background-color: var(--primary-orange);
    font-family: var(--font);
    font-size: 13px;
    padding: 7px;
}


/** End card **/

.box-header {
    padding: 0;
}

.box-header .title-box {
    color: var(--primary-black);
    font-size: 23px;
    font-weight: 700;
}

.box-header .lihat-semua {
    box-sizing: border-box;
    color: var(--primary-blue);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}


/** Sidebar **/

.sidebar {
    box-sizing: border-box;
    color: var(--secondary-black);
    font-family: var(--font);
}

.sidebar .sidebar-heading {
    font-size: 22px;
    font-family: var(--font);
    color: var(--primary-black);
}

.sidebar .list-group-item {
    border: none;
    padding: .40rem 0rem;
}

.sidebar li {
    padding-left: 0;
}

.sidebar li i {
    cursor: pointer;
}

.sidebar a {
    color: var(--secondary-whiteblack);
    list-style: none;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--primary-black);
}

.sidebar .submenu {
    padding-left: 10px;
}

.sidebar .submenu li {
    font-weight: 400;
    padding-left: 10px;
}

.sidebar .submenu li a:hover {
    color: var(--primary-blue);
}


/** footer **/

.content-footer {
    padding: 0;
    margin: 0;
}

.content-footer .title-footer {
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
}

.content-footer .media-sosial-box .media-sosial-title {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
}

.content-footer .body-footer {
    color: var(--secondary-black);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
}

.media-sosial-body a {
    color: var(--primary-black);
    font-size: 32px;
    margin-right: 20px;
    text-decoration: none;
}


/** Breadcrumbs **/

.breadcrumb {
    background-color: var(--primary-background);
    margin: 0;
    padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f0da";
    color: var(--primary-blue);
    font-family: FontAwesome;
}

.breadcrumb li {
    font-size: 13px;
    font-weight: 500;
}

.breadcrumb li a {
    text-decoration: none;
    color: var(--primary-black);
}

.breadcrumb li a:hover {
    text-decoration: none;
    color: var(--secondary-black);
}